.role-filter {
    display: flex;
    gap: 4px;
    align-items: flex-start;
    height:100%;
    .checkbox-container {
      display: flex;
      align-items: center;
      gap: 2px;
      cursor: pointer;
  
      input[type="checkbox"] {
        width: 16px;
        height: 16px;
        accent-color: var(--accent-color);
        cursor: pointer;
      }
  
      .checkbox-label {
        color: #1a1a1a;
        font-size: 14px;
      }
    }
  }