body {
  background-color: white;
  position: relative;
  display: flex;
}
.contacts-page {
  display: flex;
}
main {
  display: flex;
  width: 100%;
}
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.light-text {
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--title-light);
  }
  p,
  a,
  strong,
  li,
  ul,
  i {
    color: var(--paragraph-light);
  }
}

.dark-text {
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--title-dark);
  }
  p,
  a,
  strong,
  li,
  ul,
  i {
    color: var(--paragraph-dark);
  }
}

.col-half {
  width:50%;
}
.col-third {
  width:33%;
}
.relative {
  position: relative;
}
.detail-wrapper {
  width:100%;
  height:100%;
}
.gray-screen {
  position: absolute;
  width:100%;
  height:100%;
  background:#f6f6f8;
  z-index: 1;
}