.search-area {
  background-color: #f6f6f8;
  height: 100vh;
  width: 320px;
  padding: 1em;
  flex-shrink:0;
  overflow-y: scroll;
  position: relative;
  .filter-search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  .search-group {
    display: flex;
    flex-direction: column;
    gap:8px;
  }
  .search-container {
    display: flex;
  }
  .button-container {
    margin-top: 8px;
    bottom: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
